<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - checking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/checking.styles.css" asp-append-version="true" />
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1><a href="~/Views/Home/Index.cshtml">Art-Gallery</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>

                    <li>@Html.ActionLink("Home", "Index", "Home") </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>About</span> <i class="bi bi-chevron-down"></i>
                        </a>
                        <ul>
                            <li> @Html.ActionLink("Journey", "Journey", "Home")</li>
                            <li>@Html.ActionLink("Vision & Mission", "visionnMission", "Home")</li>
                            <li>@Html.ActionLink("Privacy Policy", "PrivacynPolicy", "Home")</li>
                        </ul>
                    </li>
                    <li> @Html.ActionLink("ArtInSale", "ArtInSale", "Home")</li>

                    <li> @Html.ActionLink("Contact", "Contact", "Home")</li>


                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#">
                                <span>Admin Activities</span> <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul>
                                @*TO Diplay Table Of Images/Post's*@
                                <li> @Html.ActionLink("Uploaded Art", "Index", "Artdetails")</li>
                                <li>
                                    @*Used to Add Image For Post With Details*@
                                    @Html.ActionLink("Add-Post", "Editimage", "inibuyers")
                                </li>
                                <li>
                                    @*It Will Show All The User Accounts*@
                                    @Html.ActionLink("BuyersAccounts", "Index", "inibuyers")
                                </li>
                            </ul>
                        </li>
                        //Logout details
                        <li>@Html.ActionLink("Logout", "Logout", "AccountsManagement")</li>
                    }
                    else if (User.IsInRole("Buyer"))
                    {/*Section IS AUTHORIZED FOR BUYERS*/


                        <li>
                            @*DETAILS OF BUYER*@
                            @Html.ActionLink("Personal Details", "PersonalDe", "Home")
                        </li>
                //LOGOUT
                        <li>@Html.ActionLink("Logout", "Logout", "AccountsManagement")</li>

                    }
                    else if (User.IsInRole("Artist"))
                    {
                //LOGOUT
                        <li>@Html.ActionLink("Logout", "Logout", "AccountsManagement")</li>
                    }
                    else
                    {
                        //lOGIN
                        <li>@Html.ActionLink("Login", "Login", "AccountsManagement")</li>
                    }


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>

    </header>
    <!-- End Header -->


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - checking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
