@model JewelShopProject.Models.UserRegMst

@{
    ViewData["Title"] = "Delete";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5; /* Light gray */
        color: #333;
    }

    h1 {
        color: #2d2d2d; /* Dark gray */
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    h4 {
        color: #2d2d2d; /* Dark gray */
        font-weight: normal;
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 20px;
    }

    label {
        color: #2d2d2d; /* Dark gray */
        font-weight: bold;
    }

    .form-control {
        border-color: #D4AF37; /* Gold */
    }

    .btn-primary {
        color: #fff;
        background-color: #D4AF37; /* Gold */
        border-color: #D4AF37; /* Gold */
        transition: all 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #b38927; /* Darker Gold */
            border-color: #b38927; /* Darker Gold */
        }

    a {
        color: #D4AF37; /* Gold */
        text-decoration: none;
        transition: color 0.3s ease;
    }

        a:hover {
            color: #b38927; /* Darker Gold */
        }
</style>
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserRegMst</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mobNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mobNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRole)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="userID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
