@model JewelShopProject.Models.Inquiry

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5; /* Light gray */
        color: #333;
    }

    h1 {
        color: #2d2d2d; /* Dark gray */
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    .row {
        margin-bottom: 20px;
    }

    dt {
        font-weight: bold;
        color: #2d2d2d; /* Dark gray */
    }

    dd {
        margin-left: 0;
        color: #333; /* Darker gray */
    }

    a {
        color: #D4AF37; /* Gold */
        text-decoration: none;
        transition: color 0.3s ease;
    }

        a:hover {
            color: #b38927; /* Darker Gold */
        }
</style>
<h1>Details</h1>

<div>
    <h4>Inquiry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
